body {
    background-color: none;
    margin: 0;
    padding: 0;
}

#gameBoard {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;

}

#grass {
    background-image: url('../images/grass4.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 20vh;
    width:100vw;
    position: absolute;
    top: 0;
    left: 0;

}

#sand {
    background-image: url('../images/sand3.jpg') ;
    background-size: cover;
  
    height: 20vh;
    width:100vw;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

#river {
    position: absolute;
    height: 60vh;
    width: 100vw;
    bottom: 20vh;
    left: 0;
    background-image: url('../images/water.jpg') ;
    background-size: cover;
  
    

}


#zebra {
    background-image: url('../images/zebra3.png') ;
    background-color: none;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    position: absolute;
    background-position: center;
}

#crocodile {
    background-image: url('../images/croc.png') ;
    background-color: none;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    position: absolute;
    background-position: center;
}

#hippo {
    background-image: url('../images/hippo.png') ;
    background-color: none;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    position: absolute;
    background-position: center;
}

 .grassImage {
   height: 9vh;
   width:18vw;
   margin-top: 3vh;
  
 }

 .grassImageLow {
    height: 9vh;
    width:18vw;
    margin-top: 9vh;
   
  }

.dirt {
    height: 6vh;
    width:18vw;
    margin-top: 12vh;
}

.dirtHigh {
    height: 6vh;
    width:18vw;
    margin-top: 6vh;
}

.waves {
    height: 15vh;
    width: 30vw;
    margin-top: 2vh;
}

#levelCounter {
    height: 12vh;
    position:absolute;
    top: 2vh;
    left: 10vw;
    color: whitesmoke;
    font-size: 11vh;
    font-style: oblique;
    border: 2px solid whitesmoke;
    padding: 5px 10px 5px 10px;
    background-color:rgba(14, 13, 13, 0.3);;
}

#instructions {
    height: auto;
    width: 25vw;
    position:absolute;
    top: 5vh;
    right: 5vw;
    color: whitesmoke;
    font-size: 2.5vh;
    font-style: oblique;
    text-align: left;
    font-weight: bold;
    border: 2px solid whitesmoke;
    padding: 5px 5px 5px 10px;
    background-color:rgba(14, 13, 13, 0.3);;
    
   
}

#lion {
    background-image: url('../images/lion.png') ;
    background-color: none;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    position: absolute;
    background-position: center;
}
 



